:root {
  --size: 12px;
  --color: #f1f1f1;
  --activeCol: #111;
}

#indicators {
  position: fixed;
  bottom: 30%;
  list-style: none;
}

#indicators > li {
  background-color: var(--color);
  width: var(--size);
  height: var(--size);
  margin: calc(var(--size)/1.6) 0;
  border-radius: 50%;
}

#indicators > li.active {
  background-color: var(--activeCol);
  animation: .4s ease-in-out changeSlide;
}

#indicators > li.past {
  animation: past .5s ease-in-out forwards;
}

@keyframes past {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeSlide {
  0% {
    background-color: var(--color);
    border-radius: 100%;
  }
  50% {
    border-radius: 20%;
  }
  100% {
    background-color: var(--activeCol);
    border-radius: 50%;
  }
}